@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 900px) {
  .customMinWidth {
    padding-left: 11%;
    padding-right: 11%;
  }

  .width {
    width: 80%;
  }
}

@media screen and (min-width: 300px) {
  .align {
    text-align: center;
    border: 1px solid red;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (min-width: 500px) {
  .arrange-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.backgroundOverlay {
  background: rgba(0, 0, 0, 0.55);
}

.call-to-action {
  background: rgba(0, 0, 0, 0.70);
}